body{
	margin-top: 200px;
	margin-bottom: 200px;
	margin-left: 400px;
	margin-right: 400px;
}

.cancelled{
	background:red;
}
.confirmed{
	background:green;
}
.pending{
	background:yellow;
}
.departed{
	background:gray;
}

.leg{
	background:lightblue;
}